[core]
  editor = code --wait
  ignorecase = false
[user]
  name = Mephisto5558
  email = 87113906+Mephisto5558@users.noreply.github.com
  signingkey = 3349DF55FA885542
[pull]
  rebase = false
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[credential]
  helper = manager
[init]
  defaultBranch = main
[rebase]
  autoStash = true
[push]
  autoSetupRemote = true
  default = current
[fetch]
  pruneTags = true
  prune = true
[rerere]
  enabled = true
[gui]
  encoding = utf-8
[i18n]
  commitencoding = utf-8
  logoutputencoding = utf-8
